.container {
  max-width: 874px;
  min-height: 419px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 60%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.skill img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 200ms;
}

.skill img:hover {
  width: 70px;
  height: 70px;
  margin-top: 0px;
}

.selected img {
  width: 70px;
  height: 70px;
  margin-top: 0px;
}

h2 {
  font-size: 32px;
  text-align: center;
  color: var(--color2);
  margin-bottom: 40px;
}

p {
  max-width: 731px;
  margin: 0 auto;
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height-container);
  color: var(--color2);
}
