<div class="container">
  <h1>Contato</h1>
  <div class="list_social">
    <div class="social">
      <a target="_blank" href="https://github.com/carolinadiniz">
        <img src="../../../assets/image/social/github.png" alt="">
      </a>
    </div>
    <div class="social">
      <a target="_blank" href="https://www.linkedin.com/in/carolina-da-silva-diniz-a242b5211/">
        <img src="../../../assets/image/social/linkedin.webp" alt="">
      </a>
    </div>
    <div class="social">
      <a target="_blank" href="https://wa.me/5521970698804">
        <img src="../../../assets/image/social/whatsapp.png" alt="">
      </a>
    </div>
  </div>
  <button>Currículo</button>
</div>
