<header>
  <div class="header_container">
    <div class="logo">
      <span>{{ name.toUpperCase() }}</span>
      <span class="logo_r">DINIZ</span>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['portifolio']"> Portifólio </a>
        </li>
        <li>
          <a [routerLink]="['sobre-mim']"> Sobre mim </a>
        </li>
        <li>
          <a [routerLink]="['habilidades']"> Habilidades </a>
        </li>
        <li>
          <a [routerLink]="['formacoes']"> Formações/Cursos </a>
        </li>
        <li>
          <a [routerLink]="['contato']"> Contato </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="header_bar"></div>

<router-outlet></router-outlet>
