<header>
  <div class="header_container">

    <div class="logo">
      <div class="moon-container">
        <div class="moon">
        </div>
      </div>
      <a routerLink="portifolio">
        <span>{{ name.toUpperCase() }}</span>
        <span class="logo_r">DINIZ</span>
      </a>
    </div>
    <nav>
      <ul>
        <li>
          <a [routerLink]="['portifolio']"> Portfolio </a>
        </li>
        <li>
          <a [routerLink]="['sobre-mim']"> Sobre mim </a>
        </li>
        <li>
          <a [routerLink]="['habilidades']"> Habilidades </a>
        </li>
        <li>
          <a [routerLink]="['formacoes']"> Formações/Cursos </a>
        </li>
        <li>
          <a [routerLink]="['contato']"> Contato </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="header_bar"></div>
<div class="header_bar2"></div>

<router-outlet></router-outlet>
